<!DOCTYPE html>
<!-- saved from url=(0035)https://www.autowuzzler.com/create/ -->
<html lang="en">
  <head>
    <meta
      http-equiv="Content-Type"
      content="text/html;"
			charset="UTF-8"
    />
    <base href="/">
    <!-- <link rel="stylesheet" href="../play_files/start-61d1577b.css" /> -->
    <link rel="stylesheet" href="../play_files/style.css" />
    <!-- <link rel="stylesheet" href="../play_files/__layout.svelte-c8d5603a.css" /> -->
    <!-- <link rel="stylesheet" href="../play_files/create.svelte-efd9609b.css" /> -->
    <!-- <link rel="stylesheet" href="../play_files/HeroLayout-1dd73454.css" /> -->
    <script type="text/javascript" src="https://unpkg.com/colyseus.js@^0.14.13/dist/colyseus.js"></script>
    <script type="text/typescript" src="./htmls/readystate.ts"> </script>
    <!-- <script type="text/typescript" src="../../backend/rooms/schema/Hint.ts"></script> -->
    <script type="text/typescript">
      const roomId = "<%= paramsId %>";
    </script>
  </head>
  <body tabindex="-1">
		<main>
      <div id="container" class="container">
      </div>
      <div id="nickname-modal" class="modal nickname-modal">
        <div class="modal-content">
          <input id="nickname" value="">
          <button id="nickname-btn" class="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
          </button>
        </div>
      </div>
      <div id="ready-modal" class="modal ready-modal modal-content">
        <!-- <div id="ready-modal-content" class="modal-content"></div> -->
      </div>
		  <div class="controls svelte-1cisg4z">
			<button type="button" class="button button--secondary button--small">
			  <div id="round"></div>
			</button>
		  </div>
      <div id="gameboard"></div>
		</main>
    <script type="text/typescript" src="htmls/play.ts"></script>
    <script src="../js/typescript.min.js" type="text/javascript"></script>
    <script src="../js/typescript.compile.min.js" type="text/javascript"></script>
  </body>
</html>
