.description.svelte-1cbczag.svelte-1cbczag {
  font-size: 1.3rem;
}
.videopreview.svelte-1cbczag.svelte-1cbczag {
  margin: 3rem auto;
  width: 100%;
}
.videopreview.svelte-1cbczag img.svelte-1cbczag {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 3px 35px -15px #00000080;
}
